body {
  background: white;

  font-family: Helvetica, Arial, Sans-Serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 1000px;
}

img {
  width: 400px;
  padding: 100px 100px 0px;
}

.form-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: aqua;
  text-align: start;
  border-radius: 5%;
}

.info {
  display: flex;

  font-size: 20px;
  justify-content: center;
  padding-bottom: 100px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.password-info {
  display: flex;
  text-align: start;
  justify-content: space-between;
}

.password-info label {
  margin-right: 100px;
}

input {
  margin: 3px 0 3px;
  width: fit-content;
  height: 20px;
  gap: 0;
}

.button {
  width: 182px;
  height: 30px;
  background-color: yellow;
}

.checkbox {
  display: flex;
  gap: 10px;
}

.dont-have-a-user {
  display: flex;
  margin-top: 30px;
  height: 10px;
  justify-content: center;
  align-items: center;
}

.sign-up-pop {
  position: absolute;
  backdrop-filter: saturate(180%) blur(10px);
  width: 410px;
  height: 499px;
  margin: -140px 0 170px 0px;
  font-size: 20px;
  color: aliceblue;
}

.sign-up-pop-x {
  display: flex;
  justify-content: end;
  margin-top: 90px;
  font-size: 50px;
}

.sign-up-pop input {
  height: 30px;
}

.sign-up-pop input[type='checkbox'] {
  margin-top: -5px;
}

.sign-up-form {
  display: grid;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.gender {
  display: flex;
  align-items: center;
  font-size: 21px;
  gap: 10px;
}

.sign-up-form button {
  width: 100px;
  margin: 40px 0 0 70px;
}

/*page 1`*/

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc66;
  height: 80px;
  width: 1896px;
}

.icon-airbnb {
  display: flex;
}

.icon-airbnb img {
  height: 30px;
  width: 120px;
  padding: 0px 0 0 90px;
}

.flex-column {
  display: flex;
  background-color: white;
  width: 83px;
  height: 45px;
  align-items: center;
  align-content: space-around;
  border: 1px solid #cccccc;
  border-radius: 41px;
  gap: 4px;
  margin-right: 90px;
}

.flex-column:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 9px;
}

.flex-items img {
  height: 40px;
  width: 50px;
  margin-top: 3px;
  padding: 10px 0px;
}

.user-name {
  display: flex;
  flex-direction: column;
  border: white 1px solid;
  margin: -9px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  font-size: 10px;
  color: white;
}

#h1 {
  position: absolute;

  width: 700px;
  height: 2500px;
}

#h1:hover {
  display: none;
}

.containerContainerContact {
  display: grid;
  grid-template-columns: repeat(5, 345px);
  margin-top: 100px;
  margin-left: 100px;
}
.containerContact {
  display: flex;

  flex-direction: column;
  position: relative;
  align-items: start;
  justify-content: start;
}

.containerContact img {
  height: 300px;
  width: 330px;
  padding: 0px;
}

.containerContactImg {
  display: grid;

  grid-template-columns: 280px 60px;
  grid-template-rows: 30px;
  align-items: center;
  font-size: 10px;
}

.containerContactImg img {
  width: fit-content;
  height: 30px;
}

.rating {
  display: flex;
}

.rating :nth-child(2) {
  margin-top: 5px;
}

.soldOUt-countainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
}

.soldOUt-countainer img {
  width: 40px;
  height: 40px;
  padding: 0px;
}

.imgContent {
  position: relative;
  border-radius: 5%;
}
#cost {
  display: flex;
  align-items: center;
  gap: 5px;
}
.soldOut {
  height: fit-content;
  width: fit-content;
  font-size: 15px;
  background-color: white;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin-left: 10px;
}
.user-info-container {
  position: absolute;
  display: flex;

  flex-direction: column;
  background-color: white;
  z-index: 1;
  margin-left: 1528px;
  margin-top: 571px;
  align-items: center;
  flex-direction: column;
  align-items: start;
  width: 280px;
  height: 500px;
  border: 1px solid #cccccc66;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  border-end-end-radius: 4%;
  border-bottom-left-radius: 4%;
  justify-content: space-evenly;
}
.user-info-container div {
  padding: 10px 0px 10px 20px;
  width: 260px;
}

.user-info-container div:hover {
  background-color: #f2f2f2;
}

/*airbnb page`*/
.airbnb-component-container {
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 4px;
}

.airbnb-component-container img {
  width: 900px;
  height: 900px;
}

.your-rating {
  display: flex;
  justify-content: center;
}

.checkbox-rating {
  display: flex;
  flex-direction: column;
  gap: 0px;
  font-size: 20px;
  margin: -3px 0px 0px 10px;
}

.checkbox-rating input {
  margin: -4px 0px 0px -1px;
}
.yourWishlists {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
}
.yourWishlists h1 {
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 30px;
}
.yourLike {
  display: grid;
  grid-template-columns: 300px 100px 100px;
  grid-template-rows: 200px;
}
.yourLike img {
  width: 100px;
  height: 100px;
  border-radius: 5%;
  padding: 0px;
}
.yourLike :nth-child(1) {
  margin: 0px;
  width: 300px;
  height: 300px;
  border-radius: 5%;
}
